.register-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: var(--transition);
    visibility: hidden;
    z-index: 1;
    .register {
        background: var(--clr-white);
        border-radius: var(--radius);
        min-width: var(--fixed-width);
        width: 30vw;
        height: 70vh;
        display: grid;
        place-items: center;
        position: relative;
        .register__form {
            display: flex;
            flex-direction: column;
            & > label {
                margin: 10px 0;
            }
            .register__input {
                border: none;
                border-bottom: 1px solid lightgray;
                padding: 10px;
            }
            .register__submit-btn {
                margin-top: 20px;
                padding: 5px;
                background: black;
                color: white;
                border-radius: var(--radius);
                cursor: pointer;
            }
        }
        .modal-link__login {
            text-align: center;
            .login {
                cursor: pointer;
            }
        }
        .register__close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            background: transparent;
            border-color: transparent;
            cursor: pointer;
        }
    }
}

.show-modal {
    visibility: visible;
    z-index: 10;
}
